{% extends "base.html" %}
{% block content %}
<h1>
    {% set av = get_avatar(username) %}
    {% if av %}<img class="avatar page-avatar" src="{{ av|e }}" alt="" loading="lazy" referrerpolicy="no-referrer">{% endif %}
    {{ t('user_notes_title', username=username) }}
</h1>
<style>
    .page-avatar { width: 32px; height: 32px; margin-right: 8px; }
</style>
<div style="margin-bottom: 16px;">
    <a href="/user/{{ username|e }}/new">{{ t('user_new_note') }}</a>
</div>
<ul class="note-list">
    {% for item in items %}
    <li>
        <a href="/user/{{ username|e }}/{{ item.id|e }}">{{ item.id|e }}</a>
        {% if item.mtime %}<span class="note-time">{{ item.mtime }}</span>{% endif %}
        {% if item.size %}<span class="note-size">{{ item.size }}</span>{% endif %}
    </li>
    {% else %}
    <li class="empty">{{ t('user_no_notes') }}</li>
    {% endfor %}
</ul>
{% endblock %}